/* Imports */
@import url(http://fonts.googleapis.com/css?family=Andika);

body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    background-color: #257;
    background-image: url("/images/square_bg.png");
}

#content {
    background-color: #FFF;
    width: 675px;
    margin: 0px auto;
    text-align: left;
    padding: 0px;
    border: 0px solid #999;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

img.photo { border: 1px solid black; }


.insertbox {
  background-color: #CCC;
  padding: 1em;
}

.powderblue {
  background-color: #BBB;
  padding: 1em;
}

.peachpuff {
  background-color: #FFA45D;
  padding: 1em;
}

.white {
  background-color: white;
  padding: 2em;
}

/* fonts */
body {font-family: Verdana; font-size:10pt; color: #111;}
h1, h2, h3, h4, h5 {font-family: "Andika", "Trebuchet MS", sans-serif; color: #000; margin-bottom: 0.2em;}
h1 {font-size: 26pt;}
h2 {font-size: 20pt;}
h3 {font-size: 16pt;}
h4 {font-size: 14pt;}
h5 {font-size: 12pt;}