/* Font Imports */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

img.photo { border: 3px solid black; margin: 6px; margin-left: 24px; margin-right: 10px; }
body {
     padding-top: 10px;
     padding-bottom: 20px;
     text-align: center;
     background-color: #799;
     background-image: url("/images/square_bg.png");
}

#content {
	 background-color: #FFF;
	 width: 600px;
	 margin: 0px auto;
	 text-align: left;
	 padding: 0px;
	 border: 1px solid #555;
}

#blogcontent {
  padding-top: 1em;
  padding-bottom: 1em;

  width: 550px;
  margin: 0px auto;
  text-align: left;
}

.insertbox {
  background-color: #CCC;
  padding: 1em;
  border: 1px solid #555;
}

.powderblue {
  background-color: #BBB;
  padding: 1em;
}

.twitter {
  background-color: #BDB;
  padding: 1em;
}

.peachpuff {
  background-color: #FFA45D;
  padding: 1em;
}

.white {
  background-color: white;
  padding: 2em;
}

div.nav {
  background-color: #AACCEE;
  border: 1px solid #444;
  padding: 2px;
}

li.entries {
  padding-bottom: 5px;
}

/* fonts */
body {font-family: Verdana; font-size:10pt; color: #333;}
h1, h2, h3, h4, h5 {font-family: 'PT Sans Narrow', 'Trebuchet MS', sans-serif; color: #000;}
h1 {font-size: 26pt;}
h2 {font-size: 22pt;}
h3 {font-size: 18pt;}
h4 {font-size: 14pt;}
h5 {font-size: 12pt;}


