/*
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(http://fonts.googleapis.com/css?family=Asap);
*/
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*/

@import url(http://fonts.googleapis.com/css?family=Asap:400);

@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

body {
     margin-left: 3.5em;
     margin-right: 3.5em;
     margin-top: 1.2em;
     margin-bottom: 1.2em;
     font-family: 'Lora';
     font-size: 13pt;
}

img.photo { border: 1px solid black; margin-left: 8px; margin-bottom: 8px;}

p.googlead { float: right; margin-left: 8px; margin-bottom: 8px; }

h1 { font-size: 22pt;}
h2 { font-size: 18pt;}
h3 { font-size: 16pt;}
h4 { font-size: 14pt;}
h5 { font-size: 12pt;}
h6 { font-size: 10pt;}

h1 { font-size: 20pt;}
h2 { font-size: 16pt;}
h3 { font-size: 14pt;}
h4 { font-size: 12pt;}
h5 { font-size: 10pt;}
h6 { font-size: 8pt;}

h1 { font-family: "Asap"; font-weight: 400;}
h2 { font-family: "Asap"; font-weight: 400;}
h3 { font-family: "Asap"; font-weight: 400;}
h4 { font-family: "Asap"; font-weight: 400;}
h5 { font-family: "Asap"; font-weight: 400;}
h6 { font-family: "Asap"; font-weight: 400;}


/* new fonts and styles, august 2012 */
/*
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
body {
     font-family: Georgia, 'Source Sans Pro', sans-serif;
     font-size: 15px;
     line-height: 130%;
     ffont-weight: 400;

     text-align: center;
}

#content {
	 wwidth: 850px;
	 mmax-width: 850px;
	 mmargin: 0px auto;
	 margin-left: 3.5em;
	 margin-right: 3.5em;
	 text-align: left;
}

h1 { color: #000; font-family: 'Source Sans Pro';}
h2, h3, h4, h5 { font-family: 'Source Sans Pro'; font-weight: 600; color: rgb(68, 112, 154); color: rgb(60, 100, 120); }

img.photo {border: 1px black solid; margin: 4px; }
*/
