/* Imports */
@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Antic);

body {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FFF;
}

#content {
    background-color: #FFF;
    width: 580px;
    margin: 0px auto;
    text-align: left;
    padding: 25px;
}

.seashell {
  background-color: #E5DFD1;
  padding: 1em;
  padding-top: 1px;
}

.powderblue {
  background-color: #7DBD9D;
  padding: 1em;
}

.peachpuff {
  background-color: #FFA45D;
  padding: 1em;
}

.white {
  background-color: white;
  padding: 1em;
}

/* fonts */
body {font-family: Verdana; font-size:10pt; color: #111;}
h1, h2, h3, h4, h5 {font-family: "Actor", "Antic", "Actor", "Trebuchet MS", sans-serif; color: #000; margin-bottom: 0.2em;}
h1 {font-size: 28pt;}
h2 {font-size: 20pt;}
h3 {font-size: 14pt;}
h4 {font-size: 12pt;}
h5 {font-size: 10pt;}