img.photo { border: 2px solid black; margin: 6px; margin-left: 24px; margin-right: 10px; }
body {
padding-left: 8%;
padding-right: 8%;
}

div.header {
  background: #BBDDDD;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid black;
}

div.footer {
  background: #DDDDDD;
  padding: 1em;
  border: 1px solid black;
}

div.blogcontent {padding-left: 5%; padding-right: 5%; padding-top: 10px; padding-bottom: 10px; color: #333;}

ul.bloglist {list-style-type: circle;}
li.bloglist {padding-bottom: 6px;}
/* fonts */
body {font-family: Verdana; font-size:10pt;}
h1, h2, h3, h4, h5 {font-family: "Trebuchet MS";}
h1 {font-size: 24pt;}
h2 {font-size: 20pt;}
h3 {font-size: 16pt;}
h4 {font-size: 14pt;}
h5 {font-size: 12pt;}


