img.photo { border: 3px solid black; margin: 6px; margin-left: 24px; margin-right: 10px; }
body {padding-left: 8%; padding-right: 8%;}

/* fonts */
body {font-family: Georgia; font-size:11pt;}
h1, h2, h3, h4, h5 {font-family: "Trebuchet MS";}
h1 {font-size: 24pt;}
h2 {font-size: 20pt;}
h3 {font-size: 16pt;}
h4 {font-size: 14pt;}
h5 {font-size: 12pt;}


