---
layout: default
---
<html>

<head>
<title>Trevis Rothwell's weblog - {{ page.title }}</title>
<link rel="stylesheet" href="/css/traditional.css" media="all" title="Default" charset="utf-8">
</head>

<body>
<div id="content">

<h1>Trevis Rothwell's weblog</h1>

<p>
<a href="/">Home</a> : <a href="/blog/">Blog</a> : one entry from {{ page.date | date_to_long_string }}
<hr>

<h2>{{ page.title }}</h2>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-9408587658922493";
/* Wide Leaderboard */
google_ad_slot = "9047018819";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div id="post">
{{ content }}
</div>

<hr>
<a href="mailto:tjr@acm.org"><address>tjr@acm.org</address></a>

</div>
</body>

</html>
