<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/modern.css" media="all" title="Default" charset="utf-8"/>
</head>

<body>

<div id="content">

<div class="white">
<h1>Weblog</h1>
<p>
Sundry prose written by <a href="/">Trevis Rothwell</a>

<hr>

{{ content }}

</div>

<div class="peachpuff">
<p>
<b>Consulting</b>: Need some software development or technical writing done?
I might be available to help with your project! Feel free
to <a href="mailto:tjr@acm.org">send me an email</a> to discuss.
</p>
</div>

<div class="powderblue">
<p>
<b>Contact</b>: <a href="mailto:tjr@acm.org">tjr@acm.org</a> :

<a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x03B7725C092D4D37">public key</a>
</p>
</div>

</div>

</body>
</html>
